advancedlocationbar:not([hidden]) {
  display: inline-block;
}

advancedlocationbar label {
  margin-inline: unset;
}

.textbox-presentation-box > * ,
.textbox-presentation-segment ,
.textbox-presentation-segment > *,
.textbox-presentation-segment-numbox ,
.textbox-presentation-segment-numbox > * {
  margin: 0;
  padding: 0;
  border: none;
}

.textbox-presentation-segment-numbox > div {
  display: flex;    
  flex-direction: column;
  justify-content: center;
}

.textbox-presentation-searchParam[numeric] > .textbox-presentation-segment-numbox:hover {
  border: 1px solid;
  position: relative;
  margin-left: -1px;
  margin-right: calc(-2ch - 1px);
  background: transparent;
  text-decoration: underline;
  opacity: 0.75;
  z-index: 1;
}

.textbox-presentation-searchParam[numeric] > .textbox-presentation-segment-numbox:hover > div {
  background-color: ghostwhite;
  text-decoration: none !important;
  display: flex;
}

.textbox-presentation-searchParam[numeric] > .textbox-presentation-segment-numbox:hover  .textbox-presentation-segment-numbutton {
  display: flex;
  width: 2ch; 
  min-width: 2ch;
  flex: 1 1 0%;
  height: 1rem;
}

.textbox-presentation-searchParam >.textbox-presentation-segment-numbox .textbox-presentation-segment-numbutton:nth-child(1){
  appearance: spinner-upbutton;
}

.textbox-presentation-searchParam >.textbox-presentation-segment-numbox .textbox-presentation-segment-numbutton:nth-child(2){
  appearance: spinner-downbutton;
}

.textbox-overflow-ellipsis ,
.textbox-presentation-box {
  -moz-margin-start: 1px;
}

advancedlocationbar{
  mask-image: linear-gradient(to left, transparent, black 3ch);
}

advancedlocationbar,
.textbox-presentation-box {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: transparent;
  color: inherit;
  border: none;
  margin: 0;
  padding: 0;
  outline: none;
  appearance: auto;
  left: 0;
}

.textbox-presentation-box ,
.textbox-presentation-segment ,
.textbox-presentation-slash {
  cursor: text;
}

.textbox-presentation-prePathSub > .textbox-presentation-slash, 
.textbox-presentation-prePath.hide-trailing-slash > .textbox-presentation-slash, 
.textbox-presentation-prePath > .textbox-presentation-domain:not([value]) ~ .textbox-presentation-slash, 
.textbox-presentation-pathFile[anonid="pathFileQ"] + .textbox-presentation-searchParam > .textbox-presentation-ampersand, 
.textbox-presentation-prePathSub.hide-protocol > .textbox-presentation-protocol, 
.textbox-presentation-segment-numbox  .textbox-presentation-segment-numbutton{ 
  display: none;
}

.textbox-presentation-protocol ,
.textbox-presentation-port ,
.textbox-presentation-slash {
  text-decoration: none !important;
}

.textbox-presentation-protocol,
.textbox-presentation-subdomain,
.textbox-presentation-prePath .textbox-presentation-slash,
.textbox-presentation-port,
.textbox-presentation-path,
.textbox-presentation-file,
.textbox-presentation-query,
.textbox-presentation-searchParam,
.textbox-presentation-searchParam[numeric]:hover > .textbox-presentation-segment-label,
.textbox-presentation-fragment {
  opacity: 0.5;
}

.no-format-on-hover:hover .textbox-presentation-protocol,
.no-format-on-hover:hover .textbox-presentation-subdomain,
.no-format-on-hover:hover .textbox-presentation-prePath .textbox-presentation-slash,
.no-format-on-hover:hover .textbox-presentation-port,
.no-format-on-hover:hover .textbox-presentation-path,
.no-format-on-hover:hover .textbox-presentation-file,
.no-format-on-hover:hover .textbox-presentation-query,
.no-format-on-hover:hover .textbox-presentation-searchParam,
.textbox-presentation-searchParam[numeric]:hover,
.no-format-on-hover:hover .textbox-presentation-fragment {
  opacity: 1.0;
}

.no-host > .textbox-presentation-prePathSub > .textbox-presentation-protocol,
.no-host > .textbox-presentation-path,
.no-host > .textbox-presentation-pathFile > .textbox-presentation-file {
  opacity: 1.0;
}

#urlbar [linkify="true"] .textbox-presentation-segment > :not(.textbox-presentation-slash),
#urlbar [linkify="true"] .textbox-presentation-segment > :not(.textbox-presentation-slash) label {
  cursor: pointer;
}

#urlbar [linkify="true"] .textbox-presentation-segment:hover > *,
#urlbar [linkify="true"] .textbox-presentation-prePathSub:hover + .textbox-presentation-prePath > * {
  text-decoration: underline;
}
